@page
@model MessageEditModel
@{
	Layout = "~/Pages/Admin/_Layout.cshtml";
}
<div class="row _content" id="app">
	<div class="col-xs-12" id="variable_area">
		<div class="row _form">
			<div class="col-xs-12 _list">
				<div class="_box">
					<form class="form-horizontal">
						<div class="col-xs-12">
							<div class="form-group form-group-sm">
								<label for="firstname" class="col-md-1 col-sm-2 col-xs-3 control-label">姓名</label>
								<div class="col-md-9 col-sm-10 col-xs-9">
									{{post.m_name}}
								</div>
								<div class="col-md-2 hidden-sm hidden-xs"></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group form-group-sm">
								<label for="firstname" class="col-md-1 col-sm-2 col-xs-3 control-label">邮箱</label>
								<div class="col-md-9 col-sm-10 col-xs-9">
									{{post.m_email}}
								</div>
								<div class="col-md-2 hidden-sm hidden-xs"></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group form-group-sm">
								<label for="firstname" class="col-md-1 col-sm-2 col-xs-3 control-label">内容</label>
								<div class="col-md-9 col-sm-10 col-xs-9">
									{{post.m_content}}
								</div>
								<div class="col-md-2 hidden-sm hidden-xs"></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group form-group-sm">
								<label for="firstname" class="col-md-1 col-sm-2 col-xs-3 control-label">IP</label>
								<div class="col-md-9 col-sm-10 col-xs-9">
									{{post.m_ip}}
								</div>
								<div class="col-md-2 hidden-sm hidden-xs"></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group form-group-sm">
								<label for="firstname" class="col-md-1 col-sm-2 col-xs-3 control-label">状态</label>
								<div class="col-md-9 col-sm-10 col-xs-9">
									<label class="radio-inline">
										<input type="radio" v-model="post.m_isread" value="true"> 已读
									</label>
									<label class="radio-inline">
										<input type="radio" v-model="post.m_isread" value="false"> 未读
									</label>
								</div>
								<div class="col-md-2 hidden-sm hidden-xs"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-12 _buts">
				<div class="col-xs-12 text-right">
					<button type="button" class="btn btn-primary btn-sm" v-on:click="save">提交按钮</button>
				</div>
			</div>
		</div>
	</div>

	<modal-loading></modal-loading>
	<modal-alert></modal-alert>
	<modal-confrim></modal-confrim>
</div>

<script>
	const router = new VueRouter()
	var vm = new Vue({
		router: router,
		el: '#app',
		data: {
			filter: {
			},
			post: {
				m_isread: true
			}
		},
		created: function ()
		{
			this.pageLoad();
		},
		methods: {
			pageLoad: function ()
			{
				//首次载入，通过url更新filter
				if (!static.isEmptyJson(this.$route.query))
				{
					this.filter = static.CopyJson(this.$route.query);
				}
				content_header.title = "留言详情";
				if (!this.filter.m_id)
					return;
				//读取数据
				static.loading("show");
				$.ajax({
					type: "post",
					url: "?handler=GetMessage",
					data: this.filter,
					success: function (res)
					{
						var json = eval("(" + res + ")");
						if (json.error)
						{
							static.alert(json.error);
						}
						else
						{
							vm.post = json.detail.g_message;
						}
						static.loading("hide")
					}
				});
			},
			mobileEditorOpen: function ()
			{
				window.open("editor");
			},
			save: function ()
			{
				static.loading("show");
				$.ajax({
					type: "post",
					url: "?handler=SaveMessage",
					data: this.post,
					success: function (res)
					{
						var json = eval("(" + res + ")");
						if (json.error)
						{
							static.alert(json.error);
						}
						else
						{
							static.confrim(json.success, [{
								title: "确定"
							}, {
								title: "返回列表",
								handler: function ()
								{
									history.go(-1);
								},
								class: "btn-primary"
							}]);
						}
						static.loading("hide")
					}
				});
			}
		}
	});

</script>