<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>

	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
	<!--强制使用webkit内核-->
	<!--360 6.X 以上可识别-->
	<meta name="renderer" content="webkit">
	<!--其他双核可识别-->
	<meta name="force-rendering" content="webkit">
	<!--对于没有自带 IE7 内核的浏览器 强制使用用户已安装的最高版本浏览器渲染, 有Chrome框架的优先使用-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- 引入 Bootstrap -->
	<link href="~/JS/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
	<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
	<!--[if lt IE 9]>
		<script src="~/JS/html5shiv.min.js"></script>
		<script src="~/JS/respond.min.js"></script>
	<![endif]-->
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
	<script src="~/JS/jquery.min.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script src="~/JS/bootstrap/js/bootstrap.min.js"></script>

	<!-- 引入 Vue.js -->
	<script src="~/JS/vue.js"></script>

	<link href="~/CSS/Config.css" rel="stylesheet" />
	<script src="~/JS/Config.js"></script>

</head>
<body>
	<div class="_top">
		<nav class="navbar navbar-inverse navbar-fixed-top _nav">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/Index">首页</a></li>
						<li><a href="/SkillShare">技术分享</a></li>
						<li><a href="#Experience">个人经历</a></li>
						<li><a href="#Contact">留言</a></li>
						<li><a href="/TravelsMood">游记&心情</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="row _bg">
			<div class="col-xs-12">
				<div class="col-md-4 col-sm-3 col-xs-2"></div>
				<div class="col-md-4 col-sm-6 col-xs-8 _word"><img src="~/Images/panda_word.png" /></div>
				<div class="col-md-4 col-sm-3 col-xs-2"></div>
			</div>
			<div class="col-xs-12">
				<div class="col-md-4 col-sm-3 col-xs-2"></div>
				<div class="col-md-4 col-sm-6 col-xs-8 _icon"><div><img src="~/Images/icon.png" class="img-circle" /></div></div>
				<div class="col-md-4 col-sm-3 col-xs-2"></div>
			</div>
		</div>
	</div>
	<div class="_middle">
		@RenderBody()
		@Html.AntiForgeryToken();
	</div>
	<div class="_bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12 _left"><img src="~/Images/panda_word.png" /></div>
				<div class="col-sm-6 col-xs-12 _right">
					<div>苏ICP备000000000000号</div>
					<div>--静海熊猫</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
