@page
@model IndexModel
@{
	ViewData["Title"] = "首页";
}

<div class="_index">
	<div class="_text">
		<div class="container">
			Helo I am Panda, <br />30 years old software engineer <br />from Nantong, Jiangsu, China.
		</div>
	</div>
	<div class="_vline">
		<span></span>
	</div>
	<div class="_skills">
		<div class="container _box">
			<div class="_title">
				My Skills & Abilities
			</div>
			<div class="_content">
				20岁走入工作岗位，从事Windows、Web编程至今，熟练运用.Net Framework、Javascript、Http5以及跨平台的.Net Core、Xamarin。
				曾使用多种框架开发项目，如WPF、WinForm、AngularJS、VueJS、MVC、NSSH等。
				并对集群部署有所了解，如使用Nginx+KeepAlived实现负载均衡和故障转移集群。
				带过3年5人团队研发充电桩管理系统。
			</div>
			<div class="_list">
				<div class="_li">
					<div class="_caption">Team Management 技能熟练度</div>
					<div class="_border" style="border-color:#140071"><span style="background-color:#140071; width:60%;"></span></div>
				</div>
				<div class="_li">
					<div class="_caption">.Net Framework 技能熟练度</div>
					<div class="_border" style="border-color:#009208"><span style="background-color:#009208; width:90%;"></span></div>
				</div>
				<div class="_li">
					<div class="_caption">WPF、WinForm 技能熟练度</div>
					<div class="_border" style="border-color:#cc6500"><span style="background-color:#cc6500; width:80%;"></span></div>
				</div>
				<div class="_li">
					<div class="_caption">MVC、NSSH 技能熟练度</div>
					<div class="_border" style="border-color:#b500a0"><span style="background-color:#b500a0; width:65%;"></span></div>
				</div>
				<div class="_li">
					<div class="_caption">Javascript、Http5、AngularJS、VueJS 技能熟练度</div>
					<div class="_border" style="border-color:#8c00cb"><span style="background-color:#8c00cb; width:90%;"></span></div>
				</div>
				<div class="_li">
					<div class="_caption">.Net Core 技能熟练度</div>
					<div class="_border" style="border-color:#8b0000"><span style="background-color:#8b0000; width:70%;"></span></div>
				</div>
				<div class="_li">
					<div class="_caption">Xamarin 技能熟练度</div>
					<div class="_border" style="border-color:#00b2a7"><span style="background-color:#00b2a7; width:65%;"></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="_help">
		<div class="container _box">
			<div class="_title">
				How Can I Help You
			</div>
			<div class="_content">
				使用所掌握的技能，能够进行多种系统开发
				如网站、ERP、MES、Html5、上位机、监控系统、物联网控制系统、手机APP
			</div>
			<div class="_list">
				<div class="row">
					<div class="col-sm-6 col-xs-12 _li">
						<span class="glyphicon glyphicon-cloud _img"></span>
						<span class="_caption">网站</span>
						<div class="_content">利用.Net Framework搭建普通企业网站，如果需要搭建复杂的行业网站，则使用框架支持，如MVC、NSSH。配合VueJS或AngularJS可实现完美的MVVM模式。使用BootStrap以实现响应式布局。如果需要跨平台，可以使用.Net Core。</div>
					</div>
					<div class="col-sm-6 col-xs-12 _li">
						<span class="glyphicon glyphicon-stats _img"></span>
						<span class="_caption">ERP、MES</span>
						<div class="_content">与网站相比，搭建ERP、MES要复杂的多，除了需要网站开发的所有工具外，也会更具需求增加终端硬件设备与服务器端的数据通信，通过服务器端完成数据采集，并通过客户端对数据进行实时显示。使用WPF或WinForm来实现。</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 _li">
						<span class="glyphicon glyphicon-th-large _img"></span>
						<span class="_caption">上位机</span>
						<div class="_content">运行在Windows系统上，使用WPF或WinForm通过串口与控制板连接，通过约定协议与下位机通信，完成控制与监控功能</div>
					</div>
					<div class="col-sm-6 col-xs-12 _li">
						<span class="glyphicon glyphicon-facetime-video _img"></span>
						<span class="_caption">监控、物联网控制</span>
						<div class="_content">分为服务器端与客户端，通常需要搭建集群。使用.Net Framework开发Windows服务或.Net Core开发Linux服务。根据业务需求采用TCP或UDP通信方式，通过约定协议与物联网终端及客户端程序通信，完成控制与监控功能</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 _li">
						<span class="glyphicon glyphicon-globe _img"></span>
						<span class="_caption">Html5</span>
						<div class="_content">业内最好的移动端优先框架BootStrap，配合VueJS、JQuery实现几乎所有功能，根据业务需求还可引入其他第三方框架。</div>
					</div>
					<div class="col-sm-6 col-xs-12 _li">
						<span class="glyphicon glyphicon-phone _img"></span>
						<span class="_caption">手机APP</span>
						<div class="_content">使用Xamarin可编写出媲美原生运行效率的移动APP，并且能够实现一次编写，同时适配Android与IOS，不同于Cordova，在复杂页面的执行效率上有明显优势。</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_vline">
		<span></span>
	</div>
	<div class="_experience">
		<div class="hidden-xs _bg"></div>
		<div class="container _box">
			<div class="row">
				<div class="col-sm-6 hidden-xs"></div>
				<div class="col-sm-6 col-xs-12">
					<div class="_title">
						My Experience
					</div>
					<div class="_content">
						一路走来，从底层程序员慢慢成长为项目经理，负责项目的核心构架及团队管理。
					</div>
					<div class="_time">
						<div class="_line"></div>
						<div class="_li">
							<span class="glyphicon glyphicon-play"></span>
							<blockquote>
								项目经理
								<small>核心构架编写，负责5人团队</small>
								<small>Sep 2016 - Nov 2018</small>
							</blockquote>
						</div>
						<div class="_li">
							<span class="glyphicon glyphicon-play"></span>
							<blockquote>
								软件工程师
								<small>核心构架编写，负责3人团队</small>
								<small>Sep 2012 - Nov 2016</small>
							</blockquote>
						</div>
						<div class="_li">
							<span class="glyphicon glyphicon-play"></span>
							<blockquote>
								.Net程序员
								<small>进入团队接触各种框架</small>
								<small>Sep 2010 - Nov 2012</small>
							</blockquote>
						</div>
						<div class="_li">
							<span class="glyphicon glyphicon-play"></span>
							<blockquote>
								Asp、Web前端程序员
								<small>企业网站及行业网站开发</small>
								<small>Sep 2008 - Nov 2010</small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_skillshare">
		<div class="container _box">
			<div class="_title">
				Here is My Skill Share
			</div>
			<div class="_content">
				技术在于开放，因为只有开放才能使技术不断进步，禁锢自己的思维从来都不是一个好方法！
				分享自己所得，转载他人的分享，让我们站在巨人的肩上，爬的更高吧！
			</div>
			<div class="_buttongroup">
				<ul>
					<li class="active">全部</li>
					<li>其他</li>
				</ul>
			</div>
			<div class="_imglist">
				<ul>
					<li><img src="~/Images/test/2.jpg" /><span class="glyphicon  glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/3.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/4.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/5.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/8.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/9.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/10.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
					<li><img src="~/Images/test/11.jpg" /><span class="glyphicon glyphicon-arrow-right"></span></li>
				</ul>
			</div>
			<script>
				$(function ()
				{
					var bgList = $("._buttongroup ul li");
					bgList.click(function ()
					{
						bgList.removeClass("active");
						$(this).addClass("active");

						var imgArr = ["2.jpg", "5.jpg", "3.jpg", "4.jpg", "8.jpg", "9.jpg", "10.jpg", "11.jpg"];
						var indexArr = [];
						var random = static.getRandom(0, imgliList.length - 1);
						while (true)
						{
							if (indexArr.indexOf(random) == -1)
							{
								indexArr.push(random);
							} else
							{
								random = static.getRandom(0, imgliList.length - 1);
							}
							if (indexArr.length == imgliList.length)
								break;
						}
						for (var i = 0; i < indexArr.length; i++)
						{
							(function (j)
							{
								setTimeout(function ()
								{
									var img = $(imgliList[indexArr[j]]);
									active_out(img, function ()
									{
										var tImg = new Image();
										tImg.src = "/Images/test/" + imgArr[indexArr[j]];
										tImg.onload = function ()
										{
											img.attr("src", this.src);
											active_in(img);
										};
									});
								}, 100 * j)
							})(i)
						}

					});
					var imgliList = $("._imglist ul li img");
					active_in(imgliList);

					function active_in(obj, fct)
					{
						obj.addClass("active_in");
						obj.one("animationend", function ()
						{
							$(this).removeClass();
							$(this).css("opacity", 1);
							if (fct != null)
								fct();
						});
					}
					function active_out(obj, fct)
					{
						obj.addClass("active_out");
						obj.one("animationend", function ()
						{
							$(this).removeClass();
							$(this).css("opacity", 0);
							if (fct != null)
								fct();
						});
					}
				});
			</script>
		</div>
	</div>
	<div class="_contact">
		<div class="container _box">
			<div class="row">
				<div class="col-xs-8">
					<div class="_title">
						Got a skill in mind?
					</div>
					<div class="_content">
						just call us!
					</div>
				</div>
				<div class="col-xs-4">

				</div>
			</div>
		</div>
	</div>

</div>