@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<div class="_index">
	<div class="row _text">
		<div class="col-lg-3 col-md-2 col-xs-1"></div>
		<div class="col-lg-6 col-md-8 col-xs-10">Helo I am Panda, 30 years old software engineer from Nantong, Jiangsu, China.</div>
		<div class="col-lg-3 col-md-2 col-xs-1"></div>
	</div>
	<div class="row _vline">
		<div class="col-xs-12">
			<span></span>
		</div>
	</div>
</div>