@page
@model LoginModel
@{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>登录</title>

	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="~/Admin/JS/bootstrap/css/bootstrap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/Admin/JS/AdminLTE/css/AdminLTE.min.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="~/Admin/JS/html5shiv.min.js"></script>
		<script src="~/Admin/JS/respond.min.js"></script>
	<![endif]-->
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/Admin/JS/font-awesome/css/font-awesome.min.css">
	<!-- 引入 Vue.js -->
	<script src="~/Admin/JS/vue.js"></script>

	<!-- jQuery 3 -->
	<script src="~/Admin/JS/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="~/Admin/JS/bootstrap/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/Admin/JS/AdminLTE/js/adminlte.min.js"></script>

	<link href="~/Admin/CSS/Config.css" rel="stylesheet" />
	<script src="~/Admin/JS/Config.js"></script>
</head>
<body class="hold-transition login-page">
<div class="login-box" id="app">
	<div class="login-logo">
		<a href="../../index2.html"><b>Panda</b>Admin</a>
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<form id="form_login">
			<p class="login-box-msg">用户登录</p>
			<div class="form-group has-feedback">
				<input type="text" v-model="post.a_uname" class="form-control" placeholder="用户名">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" v-model="post.a_pwd" class="form-control" placeholder="密码">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="row">
				<div class="col-xs-8 checkbox">
					<label>
						<i class="fa fa-square-o fa-lg" id="remember"></i>
						<input type="checkbox" v-model="post.isremember" style="display:none;"> 记住我
					</label>
				</div>
				<!-- /.col -->
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
				</div>
				<!-- /.col -->
			</div>
		</form>
	</div>
	<!-- /.login-box-body -->
</div>
<!-- /.login-box -->
@Html.AntiForgeryToken()
<script>
	//定义vue实例
	var vm = new Vue({
		el: "#app",
		data: {
			post: {
				
			}
		},
		watch: {
			"post.isremember": function()
			{
				setRemember();
			}
		}
	});
	$(function ()
	{
		//默认执行函数
		setRemember();
		login();
	});

	//设置记住按钮状态
	function setRemember()
	{
		if (vm.post.isremember)
		{
			$("#remember").removeClass("fa-square-o");
			$("#remember").addClass("fa-check-square-o text-blue");
		}
		else
		{
			$("#remember").removeClass("fa-check-square-o text-blue");
			$("#remember").addClass("fa-square-o");
		}
	}
	//登录
	function login()
	{
		$("#form_login").submit(function ()
		{
			$(this).attr("disabled", true);
			$.ajax({
				type: "post",
				url: "?handler=Login",
				data: vm.post,
				success: function (res)
				{
					var json = eval("(" + res + ")");
					if (json.error)
					{
						static.alert(json.error);
					}
					else
					{
						location.href = "index";
					}
					$("#login").attr("disabled", false);
				}
			});
			return false;
		});
	}
</script>
</body>
</html>
