html{font-size:14px; overflow-x:hidden;}
body{font-size:1.2rem; color:#636363;font-family:Arial, Microsoft YaHei;}
.container-fluid{padding:0px; overflow-x:hidden;}

._top{background-color:#000000; padding-top:50px;}
	._top ._nav{background-color:#000000;}
	._top ._bg{padding-top:3em;}
		._top ._bg ._word{text-align:center}
			._top ._bg ._word img{margin:0 auto; width:18em; max-width:100%;}
			@media (max-width: 784px) {
				._top ._bg ._word img{width:18em; max-width:100%;}
			}
		._top ._bg ._icon{text-align:center; position:relative; height:14em;}
			._top ._bg ._icon div{position:absolute; bottom:-8em; left:0; width:100%;}
				._top ._bg ._icon div img{margin:0 auto; width:18em; max-width:90%;}
				@media (max-width: 784px) {
					._top ._bg ._icon div img{width:16em;}
				}

._middle{}
._index{margin-top:12em;}
	._index ._text{font-family:'Old Standard TT', serif; font-weight:bold; text-align:center; color:#959595; font-size:3em; line-height:1.2em;}
	@media (max-width: 1280px) {
		._index ._text{font-size:2.8em;}
	}
	@media (max-width: 992px) {
		._index ._text{font-size:2.5em;}
	}
	@media (max-width: 768px) {
		._index ._text{font-size:1.8em; font-weight:500;}
	}
	._index ._vline{text-align:center; margin-top:4em;}
		._index ._vline span{display:inline-block; width:1px; height:8em;  background-color:#cccccc;}
	._index ._skills{margin-top:3.5em; background:url(../Images/skills.jpg) no-repeat center top; background-size:cover; padding:4em 0;}
		._index ._skills ._box{}
			._index ._skills ._box ._title{font-family:STSong; font-size:3.5em; color:#000000;}
			._index ._skills ._box ._content{font-size:1em; color:#464646; width:85%; letter-spacing:1px; line-height:1.5em; margin-top:0.5em;}
			@media (max-width: 992px) {
				._index ._skills ._box ._title{font-size:3em;}
			}
			@media (max-width: 768px) {
				._index ._skills ._box ._title{font-size:2.5em;}
				._index ._skills ._box ._content{width:100%;}
			}
			._index ._skills ._box ._list{margin-top:2em;}
				._index ._skills ._box ._list ._li{width:22em; margin:1.5em auto 0 auto;}
					._index ._skills ._box ._list ._li ._caption{font-size:0.9em; color:#888;}
					._index ._skills ._box ._list ._li ._border{margin-top:5px; width:100%; height:0.8em; border:1px solid #666666;}
						._index ._skills ._box ._list ._li ._border span{display:block; width:50%; height:100%; background-color:#666666;}
	._index ._help{margin-top:4em;}
		._index ._help ._box{}
			._index ._help ._box ._title{font-family:STSong; font-size:3.5em; color:#000000;}
			._index ._help ._box ._content{font-size:1em; color:#464646; width:85%; letter-spacing:1px; line-height:1.5em; margin-top:0.5em;}._index ._skills ._box ._list{margin-top:2em;}
			@media (max-width: 992px) {
				._index ._help ._box ._title{font-size:3em;}
			}
			@media (max-width: 768px) {
				._index ._help ._box ._title{font-size:2.5em;}
				._index ._help ._box ._content{width:100%;}
			}
			._index ._help ._box ._list{}
				._index ._help ._box ._list ._li{margin-top:2em;}
					._index ._help ._box ._list ._li ._img{font-size:2em; color:#000; padding-right:5px;}
					._index ._help ._box ._list ._li ._caption{font-size:2em; color:#000;}
					._index ._help ._box ._list ._li ._content{font-size:1em; color:#000;}
					@media (max-width: 992px) {
						._index ._help ._box ._list ._li ._img{font-size:1.8em;}
						._index ._help ._box ._list ._li ._caption{font-size:1.8em;}
					}
					@media (max-width: 768px) {
						._index ._help ._box ._list ._li ._img{font-size:1.5em;}
						._index ._help ._box ._list ._li ._caption{font-size:1.5em;}
					}

._bottom{}



