html{font-size:18px; overflow-x:hidden;}
@media (max-width: 992px) {
	html{font-size:16px;}
}
@media (max-width: 768px) {
	html{font-size:14px;}
}
body{font-size:1rem; color:#636363; overflow:hidden; font-family:Arial, Microsoft YaHei,STSong;}

._top{background-color:#000000; padding-top:50px;}
	._top ._nav{background-color:#000000;}
	._top ._bg{padding-top:3rem;}
		._top ._bg ._word{text-align:center}
			._top ._bg ._word img{margin:0 auto; width:17rem; max-width:100%;}
		._top ._bg ._icon{text-align:center; position:relative; height:14rem;}
		@media (max-width: 768px) {
			._top ._bg ._icon{height:12rem;}
		}
			._top ._bg ._icon div{position:absolute; bottom:-8rem; left:0; width:100%;}
				._top ._bg ._icon div img{margin:0 auto; width:18rem; max-width:90%;}

._middle{}

._bottom{background-color:#000; padding:3rem 0;}
	._bottom ._left{}
		._bottom ._left img{width:10rem; max-width:100%;}
	._bottom ._right{color:#fff; line-height:2rem;}
	@media (max-width: 768px) {
		._bottom ._right{margin-top:1rem;}
	}


._index{margin-top:10rem;}
	._index ._text{font-family:FangSong; font-weight:500; text-align:center; color:#959595; font-size:2.5rem; line-height:2.5rem;}
	@media (max-width: 768px) {
		._index ._text{font-size:1.5rem;}
	}
	._index ._vline{text-align:center; margin-top:4rem;}
		._index ._vline span{display:inline-block; width:1px; height:8rem;  background-color:#cccccc;}
	._index ._skills{margin-top:3.5rem; background:url(../Images/skills.jpg) no-repeat center top; background-size:cover; padding:4rem 0;}
		._index ._skills ._box{}
			._index ._skills ._box ._title{font-family:STSong; font-size:3.5rem; color:#000000;}
			._index ._skills ._box ._content{font-size:1rem; color:#464646; width:85%; letter-spacing:1px; line-height:1.5rem; margin-top:0.5rem;}
			@media (max-width: 768px) {
				._index ._skills ._box ._title{font-size:2.2rem;}
				._index ._skills ._box ._content{width:100%;}
			}
			._index ._skills ._box ._list{margin-top:2rem;}
				._index ._skills ._box ._list ._li{width:22rem; margin:1.5rem auto 0 auto;}
					._index ._skills ._box ._list ._li ._caption{font-size:0.9rem; color:#888;}
					._index ._skills ._box ._list ._li ._border{margin-top:5px; width:100%; height:0.8rem; border:1px solid #666666;}
						._index ._skills ._box ._list ._li ._border span{display:block; width:50%; height:100%; background-color:#666666;}
	._index ._help{margin-top:4rem;}
		._index ._help ._box{}
			._index ._help ._box ._title{font-family:STSong; font-size:3.5rem; color:#000000;}
			._index ._help ._box ._content{font-size:1rem; color:#464646; width:85%; letter-spacing:1px; line-height:1.5rem; margin-top:1.5rem;}
			@media (max-width: 768px) {
				._index ._help ._box ._title{font-size:2.2rem;}
				._index ._help ._box ._content{width:100%;}
			}
			._index ._help ._box ._list{}
				._index ._help ._box ._list ._li{margin-top:3.5rem;}
					._index ._help ._box ._list ._li ._img{font-size:1.6rem; color:#000; padding-right:5px;}
					._index ._help ._box ._list ._li ._caption{font-size:1.6rem; color:#000;}
					._index ._help ._box ._list ._li ._content{font-size:1rem; color:#000;}
	._index ._experience{position:relative; margin-top:3.5rem; padding-bottom:1rem;}
		._index ._experience ._bg{position:absolute; width:38%; height:100%; top:0; left:0; background:url(../Images/experience.jpg) no-repeat left bottom; background-size:cover; z-index:1}
		._index ._experience ._box{position:relative; z-index:2}
			._index ._experience ._box ._title{font-family:STSong; font-size:3.5rem; color:#000000;}
			._index ._experience ._box ._content{font-size:1rem; color:#464646; width:85%; letter-spacing:1px; line-height:1.5rem; margin-top:1.5rem;}
			@media (max-width: 768px) {
				._index ._experience ._box ._title{font-size:2.2rem;}
				._index ._experience ._box ._content{width:100%;}
			}
			._index ._experience ._box ._time{position:relative; margin-top:2rem;}
				._index ._experience ._box ._time ._line{position:absolute; top:0; left:0.8rem; height:100%; width:1px; background-color:#cccccc;}
				._index ._experience ._box ._time ._li{padding-top:2rem; overflow:hidden;}
					._index ._experience ._box ._time ._li span{font-size:2rem; float:left; margin-top:10px;}
					._index ._experience ._box ._time ._li blockquote{border-left-width:0; float:left; color:#000; font-size:1.2rem; line-height:2rem;  margin-bottom:0;}
	._index ._skillshare{margin-top:4rem;}
		._index ._skillshare ._box{}
			._index ._skillshare ._box ._title{font-family:STSong; font-size:3.5rem; color:#000000;}
			._index ._skillshare ._box ._content{font-size:1rem; color:#464646; width:85%; letter-spacing:1px; line-height:1.5rem; margin-top:1.5rem;}
			@media (max-width: 768px) {
				._index ._skillshare ._box ._title{font-size:2.2rem;}
				._index ._skillshare ._box ._content{width:100%;}
			}
			._index ._skillshare ._box ._buttongroup{margin-top:4rem;}
				._index ._skillshare ._box ._buttongroup ul{text-align:center; list-style:none; padding:0; color:#000;}
					._index ._skillshare ._box ._buttongroup ul li{border:1px solid #cccccc; padding:3px 25px; margin:5px 15px; display:inline-block; cursor:pointer; border-radius:3px;}
					._index ._skillshare ._box ._buttongroup ul li:hover{border-color:#ff0000;}
					._index ._skillshare ._box ._buttongroup ul li.active{animation:index_skillshare_1 300ms forwards; -webkit-animation:index_skillshare_1 300ms forwards;}
					@keyframes index_skillshare_1
					{
						from {background-color:transparent;}
						to {background-color:#eee;}
					}
					@-webkit-keyframes index_skillshare_1 /* Safari and Chrome */
					{
						from {background-color:transparent;}
						to {background-color:#eee;}
					}
			._index ._skillshare ._box ._imglist{margin-top:4rem;}
				._index ._skillshare ._box ._imglist ul{list-style:none; padding:0; overflow:hidden;}
					._index ._skillshare ._box ._imglist ul li{float:left; width:25%; cursor:pointer; position:relative;}
					@media (max-width: 768px) {
						._index ._skillshare ._box ._imglist ul li{width:50%;}
					}
						._index ._skillshare ._box ._imglist ul li img{width:100%; opacity:0;}
						._index ._skillshare ._box ._imglist ul li img.active_in{animation:index_skillshare_2 500ms forwards; -webkit-animation:index_skillshare_2 500ms forwards;}
						._index ._skillshare ._box ._imglist ul li img.active_out{animation:index_skillshare_2 500ms forwards reverse; -webkit-animation:index_skillshare_2 500ms forwards reverse;}
						@keyframes index_skillshare_2
						{
							from {opacity:0;}
							to {opacity:1;}
						}
						@-webkit-keyframes index_skillshare_2 /* Safari and Chrome */
						{
							from {opacity:0;}
							to {opacity:1;}
						}
						._index ._skillshare ._box ._imglist ul li span{display:inline-block; position:absolute; top:0; left:0; width:100%; height:100%; text-align:center; font-size:4rem; padding-top:45%; 
							color:transparent;background-color:transparent;
							transition:color 500ms, background-color 500ms, opacity 500ms;
							-webkit-transition:color 500ms, background-color 500ms, opacity 500ms; /* Safari */
						}
						._index ._skillshare ._box ._imglist ul li span:hover{color:#fff; background-color:#000; opacity:0.5;}
					._index ._skillshare ._box ._imglist ul li:hover{border-color:#ff0000;}
	._index ._skillsharebut{margin-top:1rem;}
		._index ._skillsharebut ._box{}
			._index ._skillsharebut ._box ._title{margin-top:1rem; font-size:2.5rem; color:#000000; text-indent:5rem;}
			._index ._skillsharebut ._box ._content{font-size:1.5rem; color:#000000; width:100%; letter-spacing:1px; line-height:1.5rem; text-indent:5rem;}
			@media (max-width: 768px) {
				._index ._skillsharebut ._box ._title{font-size:2.2rem; text-indent:0;}
				._index ._skillsharebut ._box ._content{text-indent:0;}
			}
			._index ._skillsharebut ._box ._us{width:14rem; max-width:100%; height:4.5rem; margin-top:1.5rem; font-size:1.5rem; color:#fff; font-weight:bold; background-color:#000; border:5px solid #000;
				transition:background-color 300ms, color 300ms;
				-webkit-transition:background-color 300ms, color 300ms; /* Safari */
			}
			._index ._skillsharebut ._box ._us:hover{background-color:#fff; color:#000;}
	._index ._contact{position:relative; margin-top:4rem; background:url(../Images/contact_bg.jpg) no-repeat center top; background-size:cover; border-top:1px solid #3d3d3d;}
		._index ._contact ._bg{position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:0.5; z-index:1;}
		._index ._contact ._box{position:relative; z-index:2; padding-top:7rem; padding-bottom:7rem;}
			._index ._contact ._box ._left{background-color:#fff; padding:3rem; border:1px solid #3d3d3d; margin:0;}
			@media (max-width: 768px) {
				._index ._contact ._box ._left{padding:15px;}
			}
				._index ._contact ._box ._left h3{color:#000; padding-bottom:20px; margin:0;}
				._index ._contact ._box ._left ._name{padding-left:0; padding-right:10px;}
					._index ._contact ._box ._left ._name input{width:100%; padding:0.5rem; border:0; background-color:#000; color:#fff;}
				._index ._contact ._box ._left ._email{padding-right:0; padding-left:10px;}
					._index ._contact ._box ._left ._email input{width:100%; padding:0.5rem; border:0; background-color:#000; color:#fff;}
				._index ._contact ._box ._left ._message{padding-left:0; padding-right:0; margin-top:20px;}
					._index ._contact ._box ._left ._message textarea{width:100%; height:12rem; border:0; background-color:#000; color:#fff;}
				._index ._contact ._box ._left ._submit{padding-left:0; padding-right:0; text-align:right; margin-top:20px;}
					._index ._contact ._box ._left ._submit button{width:10rem; max-width:100%; height:3rem; font-size:1.5rem; color:#fff; background-color:#f00; border:3px solid #f00;
						transition:background-color 300ms, color 300ms;
						-webkit-transition:background-color 300ms, color 300ms; /* Safari */
					}
					._index ._contact ._box ._left ._submit button:hover{background-color:#fff; color:#f00;}
			._index ._contact ._box ._right{width:100%; color:#fff;}
				._index ._contact ._box ._right h3{line-height:2rem; margin:15px 0 0 0;}






