/*覆盖AdminLTE样式*/
.skin-blue .sidebar-menu > li.active > a{border-left-color:transparent;}

/*登录*/
.checkbox label{padding-left:0;}

/*表格列表*/
._tablelist{padding:15px 0; background-color:#fff; margin:0; border-top:3px solid #ccc;}
	._tablelist caption{padding-top:0;}
	._tablelist > div h5{float:left;}
	._tablelist > div ._pages{margin:0; float:right;}
