@page
@model NewsTypeListModel
@{
	Layout = "~/Pages/Admin/_Layout.cshtml";
	ViewData["Title"] = "分类列表";
}
<div class="row _content _tablelist" id="app">
	<div class="col-xs-12 _list">
		<div class="_box">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th style="width:60px;">编号</th>
						<th style="width:auto;" id="_variable_th">名称</th>
						<th style="width:150px;">父类型</th>
						<th style="width:60px;">排序</th>
						<th style="width:60px;">审核</th>
						<th style="width:120px;">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tanmay</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>2</td>
						<td>3</td>
						<td><a href="#">修改</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<table-pages v-bind:action="filter" v-on:pagechange="pageChange()"></table-pages>
</div>
<script>
	const router = new VueRouter()
	var vm = new Vue({
		router,
		el: '#app',
		data: {
			filter: {
				page: 1,
				limit: 25,
				total: 10
			}
		},
		created: function()
		{
			this.pageLoad();
		},
		watch: {
			$route: "pageLoad"
		},
		methods: {
			pageLoad: function (to, from)
			{
				if (!static.isEmptyJson(this.$route.query))
					this.filter = static.CopyRouteQuery(this.$route.query);
			},
			pageChange: function ()
			{
				router.push({ query: vm.filter })
			}
		}
	});
	
	//设置表格样式
	var _variable_th_value = 150;
	$(window).resize(function ()
	{
		static.setTableStyle(_variable_th_value);
	}).load(function ()
	{
		static.setTableStyle(_variable_th_value);
	});
</script>